body{
    background: #fff;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 9vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: gray;  */
    align-items: center;
    position:fixed;
    background-color: #fff;
    z-index: 1;
      
}


.imagen{
    display: flex;
    justify-content: center;
    /* flex-direction: row;
    width: 5%; */
    height: 100%;
    align-items:center;
    
    
}
.inicio{
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 25px;
    border-radius: 200px;
    background: black;
    color: #fff;
    
    
}

.hoy{
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 25px;
    margin-left: 15px;
    border-radius: 200px;
    border: none;
}
.siguiendo{
    width: 100%;
    height: 100%;
    padding: 5%;
    font-size: 25px;
    margin-left: 35px;
    border-radius: 200px; 
    border: none;
}


.buscar{
 flex: auto;
 align-items: center;
 height: 50px;
 display: flex;
 margin-left: 50px;
 background: gainsboro;
 border-radius: 400px;

 } 
 

 input{
    border: none;
    background-color: transparent;
    margin-left: 10px;
    outline: none;
    width: 100%;
    font-size: 18px;
 }

 .buscar i{
    width: 24px;
    height: 24px;
    margin-left: 10px;
 }

  .iconos{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: 15px;
    align-items: center;
 } 
 /* .notificacion{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    
 }  */

 .iconos ion-icon{
  font-size: 50px;
  border-radius: 50%;
  padding: 8px;
 
 }

 .iconos:hover{
   background-color: gainsboro; 

 }



.wrapper-card {
  padding: 4rem;
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  justify-content: center;
  grid-template-rows: masonry;
  /* border: 3px solid blue; */
  gap: 1rem;
  background-color: #e9e9e9;

} 


/* metodologia para hacer la carta */

.card {
  width: 236px;
  height: 450px;
  border-radius: 15px;
  margin: 2rem;
  position: relative; 
} 

.card img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  Box-Shadow:0 1px  2px 0 rgba(0,0,0,0.22);

} 


.card::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-out;
}

.card:hover::before {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: zoom-in;
}

.card:hover button {
  display: inline-flex;
}

.card:hover .lowermenu {
  display: flex;
}

.card:nth-child(3n) {
  height: 555px;
}

.card:nth-child(2n + 2) {
  height: 366px;
}

.card:nth-child(5n) {
  height: 400px;
}

/* menu superior de la carta */

.menu-superior {
  position: absolute;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 25px;
  top: 15px;
  right: 10px;
  border-style: none;
  display: none;
} 

/* menu inferior de la carta */
.lowermenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  bottom: 10px;
  border-style: none;
  text-decoration: none;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
}

.lowermenu ion-icon {
  background-color: lightgray;
  font-size: 20px;
  border-radius: 50%;
  padding: 8px;
}

.lowermenu button {
  padding: 10px;
  background-color: lightgray;
  text-decoration: none;
  border-radius: 15px;
  border-style: none;
}

.lowermenu button a {
  text-decoration: none;
  border-style: none;
  color: white;
}

@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }
}



/* @media only screen and (min-width: 600px) and ( max-width : 950px ) {
 header{
  flex-direction: row;
  height: 10vh;
  width: 143vh;
 } */
  
/* 
@media only screen and (max-width: 1010px) {
  .siguiendo {
    display:inline-block;
    font-size: 15px;
  }
  .inicio{
    display:inline-block;
    font-size: 15px;
    
  }
  input{
    display: none;
  }
  .buscar i{
    display:inline-block;
    font-size: 15px;
     margin: 0;
  }
  .hoy{
    display:inline-block;
    font-size: 15px;
  }
  .imagen{
     height:25%;
     width: auto;
  }
  .iconos ion-icon{
    font-size: 25px;
  }
} */


@media only screen and (max-width: 1010px) {
  .siguiendo {
    display:inline-block;
    font-size: 15px;
  }
  .inicio{
    display:inline-block;
    font-size: 15px;
    
  }

  input{
    display: none;
  }
  .buscar i{
    display:inline-block;
    font-size: 15px;
     margin: 0;
  }
  .hoy{
    display:inline-block;
    font-size: 15px;
  }
  .imagen{
     height:25%;
     width: auto;
  }
  .iconos ion-icon{

    font-size: 25px;
  }
  .buscar{
    background: none;
  }
}
@media only screen and (max-width: 400px) {
  .siguiendo{
    display: none;
  }

  .hoy{
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .siguiendo {
    display:none;

  }
  .inicio{
    display:inline-block;
    font-size: 15px;

  }

  input{
    display: none;
  }
  .buscar i{
    display:inline-block;
    font-size: 15px;

  }
  .hoy{
    display:none;

  }
  .imagen{
     height:25%;
     width: auto;
  }
  .iconos ion-icon{

    font-size: 20px;
  }
  .buscar{
    background: none;
  }
}

@media only screen and (max-width: 414px) {
  .siguiendo {
    display:none;

  }
  .inicio{
    display:inline-block;
    font-size: 15px;

  }

  input{
    display: none;
  }
  .buscar i{
    display:inline-block;
    font-size: 15px;
     margin: 0;
  }
  .hoy{
    display:none;

  }
  .imagen{
     height:25%;
     width: auto;
  }
  .iconos ion-icon{

    font-size: 20px;
  }
  .buscar{
    background: none;
  }
}

@media only screen and (max-width: 360px) {
  .siguiendo {
    display:none;

  }
  .inicio{
    display:inline-block;
    font-size: 10px;

  }


  .buscar i{
    display:inline-block;
    font-size: 15px;
     margin: 0;
  }
  .hoy{
    display:none;

  }
  .imagen{
     height:25%;
     width: auto;
  }
  .iconos ion-icon{

    font-size: 20px;
  }
  .buscar{
    background: none;
  }
}

@media only screen and (min-width: 820px )  {
  .buscar{
    background: gainsboro;
}
}
@media only screen and (min-width: 768px )  {
  .buscar{
    background: gainsboro;
}
} 

